
                  <li><%= link_to "Über Lernerei", learnery.pages_path("about") %></li>
                  <li><%= link_to t(:about_coderdojo), "http://coderdojo-salzburg.at/" %></li>
                  <li><%= link_to "Coderdojo", "http://coderdojo.com/" %></li>
